<!--
  Titlebar
  ==================================================
-->
<div id="titlebar" class="single">
  <div class="container">
    <div class="sixteen columns"><h2>Blog</h2></div>
  </div>
</div>

<!-- spinner -->
<app-loading-spinner *ngIf="loading"></app-loading-spinner>
<!-- spinner end -->

<app-error *ngIf="error" (reload)="ngOnInit()"></app-error>

<!--
  Content
  ==================================================
-->
<div class="container" *ngIf="!loading && !error">
  <!-- Blog Posts -->
  <div class="sixteen columns">
    <div class="padding-right">
      <!-- Post -->
      <div class="post-container" *ngIf="post as p">
        <!-- <div class="post-img">
          <a href="#"><img src="assets/images/recent-post-02.webp" alt=""/></a>
        </div> -->
        <div class="post-content">
          <h3>{{ p.title }}</h3>

          <div class="meta-tags">
            <span>{{ p.dateAdded | amDateFormat: "LL" }}</span>
          </div>
          <div class="clearfix"></div>
          <div class="margin-bottom-25"></div>
          <div [froalaView]="p.post"></div>
        </div>

        <!-- Comments -->
        <section class="comments">
          <h4>Comments <span class="comments-amount">(4)</span></h4>

          <ul>
            <li>
              <div class="avatar">
                <img
                  src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=70"
                  alt=""
                />
              </div>
              <div class="comment-content">
                <div class="arrow-comment"></div>
                <div class="comment-by">
                  Kathy Brown<span class="date">12th, June 2015</span>
                  <a href="#" class="reply"
                    ><i class="fa fa-reply"></i> Reply</a
                  >
                </div>
                <p>
                  Morbi velit eros, sagittis in facilisis non, rhoncus et erat.
                  Nam posuere tristique sem, eu ultricies tortor imperdiet
                  vitae. Curabitur lacinia neque non metus
                </p>
              </div>
            </li>

            <li>
              <div class="avatar">
                <img
                  src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=70"
                  alt=""
                />
              </div>
              <div class="comment-content">
                <div class="arrow-comment"></div>
                <div class="comment-by">
                  John Doe<span class="date">15th, May 2015</span>
                  <a href="#" class="reply"
                    ><i class="fa fa-reply"></i> Reply</a
                  >
                </div>
                <p>
                  Commodo est luctus eget. Proin in nunc laoreet justo volutpat
                  blandit enim. Sem felis, ullamcorper vel aliquam non, varius
                  eget justo. Duis quis nunc tellus sollicitudin mauris.
                </p>
              </div>
            </li>
          </ul>
        </section>

        <div class="clearfix"></div>
        <div class="margin-top-35"></div>

        <!-- Add Comment -->
        <h4 class="comment">Add Comment</h4>
        <div class="margin-top-20"></div>

        <!-- Add Comment Form -->
        <form id="add-comment" class="add-comment">
          <fieldset>
            <div><label>Name:</label> <input type="text" value="" /></div>

            <div>
              <label>Email: <span>*</span></label>
              <input type="text" value="" />
            </div>

            <div>
              <label>Comment: <span>*</span></label>
              <textarea cols="40" rows="3"></textarea>
            </div>
          </fieldset>

          <a href="#" class="button color">Add Comment</a>
          <div class="clearfix"></div>
          <div class="margin-bottom-20"></div>
        </form>
      </div>
    </div>
    <!-- Blog Posts / End -->
  </div>
</div>
