<!--
  Titlebar
  ==================================================
-->
<div id="titlebar" class="single">
  <div class="container">
    <div class="sixteen columns"><h2>Blog</h2></div>
  </div>
</div>

<!-- spinner -->
<app-loading-spinner *ngIf="loading"></app-loading-spinner>
<!-- spinner end -->

<app-error *ngIf="error" (reload)="ngOnInit()"></app-error>

<!--
  Content
  ==================================================
-->
<div class="container" *ngIf="!loading && !error">
  <!-- Blog Posts -->
  <div class="sixteen columns">
    <div class="padding-right">
      <!-- Post -->
      <div class="post-container" *ngIf="post as p">
        <!-- <div class="post-img">
          <a href="#"><img src="assets/images/recent-post-02.webp" alt=""/></a>
        </div> -->
        <div class="post-content">
          <h3>{{ p.title }}</h3>

          <div class="meta-tags">
            <span>{{ p.dateAdded | amDateFormat: "LL" }}</span>
          </div>
          <div class="clearfix"></div>
          <div class="margin-bottom-25"></div>
          <div [froalaView]="p.post"></div>
        </div>

        <!-- Comments -->
        <section class="comments">
          <br />
          <h4>Comments</h4>

          <disqus [identifier]="url"></disqus>
        </section>
      </div>
    </div>
    <!-- Blog Posts / End -->
  </div>
</div>
