/* button {
    margin-left: 20px !important;
} */

.fa {
    color: rgb(34, 33, 33) !important;
}

button {
    margin: 10px !important;
}

input,
select {
    height: 61px !important;
}

div a {
    display: none !important;
}