<!--
  Titlebar
  ==================================================
-->
<div id="titlebar" class="single">
  <div class="container">
    <div class="sixteen columns">
      <h2>Reset Password</h2>
      <nav id="breadcrumbs">
        <ul>
          <li>You are here:</li>
          <li><a routerLink="/">Home</a></li>
          <li>reset password</li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<!-- spinner -->
<app-loading-spinner *ngIf="loading"></app-loading-spinner>
<!-- spinner end -->

<div style="text-align: center;" *ngIf="error && !loading">
  <div
    class="error"
    style="position: relative; text-align: center; width: 97%;"
  >
    <p>
      Somthing went wrong please click
      <button (click)="submit()">here</button> to reload
    </p>
  </div>
</div>

<!--
  Content
  ==================================================
-->

<!-- Container -->
<div class="container" *ngIf="!loading">
  <div class="my-account">
    <div class="">
      <div class="tab-content">
        <h3 class="margin-bottom-10 margin-top-10">Reset Password</h3>

        <form [formGroup]="Form" class="login">
          <div class="form-row form-row-wide">
            <label>New Password:</label>
            <input
              type="password"
              class="input-text"
              formControlName="password"
              [ngClass]="{
                'input-error':
                  (password.invalid && password.touched) ||
                  (password.invalid && check$)
              }"
            />
            <p
              class="error2"
              *ngIf="
                (password.invalid && password.touched) ||
                (password.invalid && check$)
              "
            >
              Password is required
            </p>
          </div>

          <div class="form-row form-row-wide">
            <label>Confirm Password:</label>
            <input
              type="password"
              class="input-text"
              formControlName="confirm_password"
              [ngClass]="{
                'input-error':
                  (confirm_password.invalid && confirm_password.touched) ||
                  (confirm_password.invalid && check$)
              }"
            />
            <p
              class="error2"
              *ngIf="
                (confirm_password.invalid && confirm_password.touched) ||
                (confirm_password.invalid && check$)
              "
            >
              Please confirm your password
            </p>
          </div>

          <p
            class="error2"
            *ngIf="
              (Form.value.confirm_password !== Form.value.password &&
                confirm_password.touched) ||
              (Form.value.confirm_password !== Form.value.password && check$)
            "
          >
            Password do not match! Please confirm your password
          </p>

          <button
            *ngIf="
              Form.invalid ||
              Form.value.confirm_password !== Form.value.password
            "
            type="submit"
            class="button"
            (click)="check()"
          >
            Login
          </button>

          <button
            *ngIf="
              !Form.invalid &&
              Form.value.confirm_password === Form.value.password
            "
            type="submit"
            class="button"
            (click)="submit()"
          >
            Login
          </button>

          <p class="lost_password">
            Already have an account? <a routerLink="/login">here</a> to login
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
