<div class="single submit-page">
  <div class="container">
    <div class="sixteen columns">
      <!-- <h2><i class="fa fa-plus-circle"></i> Edit Profile</h2> -->
      <h2></h2>
    </div>
  </div>
</div>

<!-- spinner -->
<app-loading-spinner *ngIf="loading"></app-loading-spinner>
<!-- spinner end -->

<app-error *ngIf="error" (reload)="ngOnInit()"></app-error>

<div class="sixteen columns">
  <div class="submit-page">
    <!-- Notice -->
    <div class="notification notice closeable margin-bottom-40" *ngIf="error3">
      <p>
        <span>Somthing went worong</span> Please click
        <button (click)="resendEmailVerification()">here</button> to verify
      </p>
    </div>
  </div>
</div>

<div class="sixteen columns">
  <div class="submit-page">
    <!-- Notice -->
    <div class="notification notice closeable margin-bottom-40" *ngIf="success">
      <p><span>Verification Sent! </span> Please check your Email</p>
    </div>
  </div>
</div>

<div class="container" *ngIf="!loading && !error && !error3">
  <div>
    <!-- Submit Page -->
    <div class="sixteen columns">
      <div class="submit-page">
        <!-- Notice -->
        <div
          class="notification notice closeable margin-bottom-40"
          *ngIf="!u.emailVerified"
        >
          <p>
            <span>Your Email is not verified</span> Please click
            <button (click)="resendEmailVerification()">here</button> to verify
          </p>
        </div>
      </div>
    </div>
    <div class="container">
      <form [formGroup]="cRForm">
        <div class="row">
          <h3 class="margin-bottom-10 margin-top-10">Personal Information</h3>

          <br />

          <div class="row">
            <div class="form-row form-row-wide four columns">
              <label>First Name: <span class="red">*</span></label>
              <input
                type="text"
                class="input-text"
                [(ngModel)]="user.firstName"
                formControlName="firstName"
                [ngClass]="{
                  'input-error':
                    (firstName.invalid && firstName.touched) ||
                    (check$ && firstName.invalid)
                }"
              />
              <p
                class="error2"
                *ngIf="
                  (firstName.invalid && firstName.touched) ||
                  (check$ && firstName.invalid)
                "
              >
                First Name is required
              </p>
            </div>

            <div class="form-row form-row-wide four columns">
              <label>Last Name: <span class="red">*</span></label>
              <input
                type="text"
                class="input-text"
                [(ngModel)]="user.lastName"
                formControlName="lastName"
                [ngClass]="{
                  'input-error':
                    (lastName.invalid && lastName.touched) ||
                    (check$ && lastName.invalid)
                }"
              />
              <p
                class="error2"
                *ngIf="
                  (lastName.invalid && lastName.touched) ||
                  (check$ && lastName.invalid)
                "
              >
                Last Name is required
              </p>
            </div>

            <div class="form-row form-row-wide four columns">
              <label>Middle Name: (Optional)</label>
              <input
                type="text"
                class="input-text"
                [(ngModel)]="user.middleName || MiddleName"
                formControlName="middleName"
              />
            </div>

            <div class="form-row form-row-wide four columns">
              <label>Gender: <span class="red">*</span></label>
              <select
                [(ngModel)]="user.gender"
                formControlName="gender"
                [ngClass]="{
                  'input-error':
                    (gender.invalid && gender.touched) ||
                    (check$ && gender.invalid)
                }"
              >
                <option value="Male">Male</option>
                <option value="Female">Female</option>
              </select>
              <p
                class="error2"
                *ngIf="
                  (gender.invalid && gender.touched) ||
                  (check$ && gender.invalid)
                "
              >
                Gender is required
              </p>
            </div>
          </div>

          <div class="row">
            <div class="form-row form-row-wide four columns">
              <label
                >Date of Birth (yyyy/mm/dd): <span class="red">*</span></label
              >
              <!-- <input
                style="
                                padding: 14px 18px;
                                outline: none;
                                font-size: 15px;
                                color: #909090;
                                margin: 0;
                                max-width: 100%;
                                width: 100%;
                                box-sizing: border-box;
                                display: block;
                                background-color: #fcfcfc;
                                font-weight: 500;
                                border: 1px solid #e0e0e0;
                                opacity: 1;
                              "
                placeholder="yyyy-mm-dd"
                formControlName="dateOfBirth"
                ngbDatepicker
                #d="ngbDatepicker"
                (click)="d.toggle()"
                [ngClass]="{
                  'input-error':
                    (dateOfBirth.invalid && dateOfBirth.touched) ||
                    (check$ && dateOfBirth.touched)
                }"
              /> -->
              <input
                type="text"
                [(ngModel)]="birthday"
                placeholder="yyyy-mm-dd"
                formControlName="dateOfBirth"
                [ngClass]="{
                  'input-error':
                    (dateOfBirth.invalid && dateOfBirth.touched) ||
                    (check$ && dateOfBirth.invalid)
                }"
              />
              <p
                class="error2"
                *ngIf="
                  (dateOfBirth.invalid && dateOfBirth.touched) ||
                  (check$ && dateOfBirth.invalid)
                "
              >
                Date Of Birth is required
              </p>
            </div>

            <div class="form-row form-row-wide four columns">
              <label>Email Address: <span class="red">*</span></label>
              <input
                type="email"
                class="input-text"
                [(ngModel)]="user.email"
                formControlName="email"
                [ngClass]="{
                  'input-error':
                    (email.invalid && email.touched) ||
                    (check$ && email.invalid)
                }"
              />
              <p
                class="error2"
                *ngIf="
                  (email.invalid && email.touched) || (check$ && email.invalid)
                "
              >
                Email is required
              </p>
            </div>

            <div class="form-row form-row-wide four columns">
              <label>Phone Number: (Optional)</label>
              <input
                type="text"
                class="input-text"
                [(ngModel)]="user.mobilePhone"
                formControlName="mobileNumber"
              />
            </div>

            <div class="form-row form-row-wide four columns">
              <label>Marital Status: <span class="red">*</span></label>
              <select
                formControlName="maritalStatus"
                [(ngModel)]="user.maritalStatus"
                [ngClass]="{
                  'input-error':
                    (maritalStatus.invalid && maritalStatus.touched) ||
                    (maritalStatus.invalid && check$)
                }"
              >
                <option value="Married">Married</option>
                <option value="Single">Single</option>
                <option value="Divorced">Divorced </option>
                <option value="Widowed">Widowed</option>
              </select>

              <p
                class="error2"
                *ngIf="
                  (maritalStatus.invalid && maritalStatus.touched) ||
                  (maritalStatus.invalid && check$)
                "
              >
                Marital Status is required
              </p>
            </div>
          </div>

          <div class="row">
            <div class="form-row form-row-wide four columns">
              <label>City: (Optional)</label>
              <input
                type="text"
                class="input-text"
                [(ngModel)]="user.city"
                formControlName="city"
              />
            </div>

            <div class="form-row form-row-wide four columns">
              <label>Country: <span class="red">*</span></label>
              <select
                formControlName="country"
                [(ngModel)]="user.country"
                [ngClass]="{
                  'input-error':
                    (country.invalid && country.touched) ||
                    (check$ && country.invalid)
                }"
              >
                <option *ngFor="let c of countries" [value]="c.code">
                  {{ c.name }}
                </option>
              </select>

              <p
                class="error2"
                *ngIf="
                  (country.invalid && country.touched) ||
                  (check$ && country.invalid)
                "
              >
                Country is required
              </p>
            </div>

            <div class="form-row form-row-wide four columns">
              <label>Prov/State: <span class="red">*</span></label>
              <select
                formControlName="state"
                [(ngModel)]="user.province"
                [ngClass]="{
                  'input-error':
                    (state.invalid && state.touched) ||
                    (check$ && state.invalid)
                }"
              >
                <option *ngFor="let s of states" [value]="s.stateId">
                  {{ s.stateName }}
                </option>
              </select>

              <p
                class="error2"
                *ngIf="
                  (state.invalid && state.touched) || (check$ && state.invalid)
                "
              >
                State is required
              </p>
            </div>

            <div class="form-row form-row-wide four columns">
              <label>Prefared Location: <span class="red">*</span></label>
              <select
                formControlName="prefaredLocation"
                [(ngModel)]="user.preferedCountries"
                [ngClass]="{
                  'input-error':
                    (prefaredLocation.invalid && state.touched) ||
                    (prefaredLocation.invalid && check$)
                }"
              >
                <option *ngFor="let st of states" [value]="st.stateName">
                  {{ st.stateName }}
                </option>
              </select>

              <p
                class="error2"
                *ngIf="
                  (prefaredLocation.invalid && prefaredLocation.touched) ||
                  (prefaredLocation.invalid && check$)
                "
              >
                Prefared Location is required
              </p>
            </div>
          </div>

          <div class="row">
            <div class="form-row form-row-wide four columns">
              <label
                >Specialiazation: ( can only select 3 )
                <span class="red">*</span></label
              >
              <ng-multiselect-dropdown
                [placeholder]="'Select your Specialiazation'"
                [data]="categories"
                formControlName="preferedPositions"
                [(ngModel)]="selectedItems"
                [settings]="dropdownSettings"
                (onSelect)="onItemSelect($event)"
                (onSelectAll)="onSelectAll($event)"
                (onDeSelect)="onDeSelect($event)"
                (onDeSelectAll)="onDeSelectAll($event)"
              >
              </ng-multiselect-dropdown>

              <p
                class="error2"
                *ngIf="
                  (preferedPositions.invalid && preferedPositions.touched) ||
                  (preferedPositions.invalid && check$)
                "
              >
                Specialiazation is required
              </p>
            </div>

            <div class="form-row form-row-wide four columns">
              <label>Street Adress: (Optional)</label>
              <input
                type="text"
                class="input-text"
                [(ngModel)]="user.address1"
                formControlName="street_address"
              />
            </div>

            <div class="form-row form-row-wide four columns">
              <label>Expected Salary: <span class="red">*</span></label>
              <input
                type="number"
                class="input-text"
                [(ngModel)]="user.expectedSalary"
                formControlName="expectedSalary"
                [ngClass]="{
                  'input-error':
                    (expectedSalary.invalid && expectedSalary.touched) ||
                    (expectedSalary.invalid && check$)
                }"
              />
              <p
                class="error2"
                *ngIf="
                  (expectedSalary.invalid && expectedSalary.touched) ||
                  (expectedSalary.invalid && check$)
                "
              >
                Expected Salary is required
              </p>
            </div>
          </div>
        </div>

        <br />

        <div class="container">
          <h3 class="margin-bottom-10 margin-top-10">NYSC Information</h3>

          <br /><br />

          <div class="form-row form-row-wide five columns">
            <label>NYSC Completed: <span class="red">*</span></label>
            <select
              [ngClass]="{
                'input-error':
                  (NTSCcompleted.invalid && NTSCcompleted.touched) ||
                  (NTSCcompleted.invalid && check$)
              }"
              [(ngModel)]="user.nyscCompleted"
              formControlName="NTSCcompleted"
            >
              <option value="yes">Yes</option>
              <option value="no">No</option>
              <option value="not gone">Not Gone</option>
            </select>

            <p
              class="error2"
              *ngIf="
                (NTSCcompleted.invalid && NTSCcompleted.touched) ||
                (NTSCcompleted.invalid && check$)
              "
            >
              NYSC Completed Status is required
            </p>
          </div>

          <div class="form-row form-row-wide five columns">
            <label>Date(dd/mm/yyyy): (Optional)</label>
            <input
              type="text"
              style="
                padding: 14px 18px;
                outline: none;
                font-size: 15px;
                color: #909090;
                margin: 0;
                max-width: 100%;
                width: 100%;
                box-sizing: border-box;
                display: block;
                background-color: #fcfcfc;
                font-weight: 500;
                border: 1px solid #e0e0e0;
                opacity: 1;
              "
              class="input-text"
              placeholder="yyyy-mm-dd"
              [(ngModel)]="dateNyscStarted"
              formControlName="NYSCDate"
            />
          </div>

          <div class="form-row form-row-wide five columns">
            <label>NYSC Date of Completion: (Optional)</label>
            <input
              type="text"
              style="
                padding: 14px 18px;
                outline: none;
                font-size: 15px;
                color: #909090;
                margin: 0;
                max-width: 100%;
                width: 100%;
                box-sizing: border-box;
                display: block;
                background-color: #fcfcfc;
                font-weight: 500;
                border: 1px solid #e0e0e0;
                opacity: 1;
              "
              class="input-text"
              placeholder="yyyy-mm-dd"
              [(ngModel)]="dateNyscCompleted"
              formControlName="NTSCcompletedDate"
            />
          </div>
        </div>

        <div class="container">
          <h3 class="margin-bottom-10 margin-top-10">Additional Information</h3>

          <br />

          <div style="margin-top: 50px;" class="form">
            <h5>Photo (Optional)</h5>
            <label class="upload-btn">
              <input
                type="file"
                accept="image/jpeg,image/png,"
                formControlName="photoFile"
                (change)="detectPhotoFile($event)"
              />
              <i class="fa fa-upload"></i> Browse
            </label>
            <span class="fake-input" *ngIf="!selectedPhotoFile"
              >No file selected</span
            >
            <span class="fake-input" *ngIf="selectedPhotoFile">{{
              photo
            }}</span>
          </div>

          <!-- <div style="margin-top: 35px;" class="form-row form-row-wide">
            <label>Resume Headline: <span class="red">*</span></label>
            <input
              type="text"
              class="input-text"
              formControlName="cvTitle"
              [(ngModel)]="user.cvTitle"
              cols="30"
              rows="3"
              [ngClass]="{
                'input-error':
                  (cvTitle.invalid && cvTitle.touched) ||
                  (cvTitle.invalid && check$)
              }"
            />
            <p
              class="error2"
              *ngIf="
                (cvTitle.invalid && cvTitle.touched) ||
                (cvTitle.invalid && check$)
              "
            >
              Your Resume Headline is required
            </p>
          </div> -->

          <div style="margin-top: 50px;" class="form">
            <h5>CV</h5>
            <label class="upload-btn">
              <input
                type="file"
                accept="application/pdf"
                formControlName="cvFile"
                (change)="detectCvFile($event)"
              />
              <i class="fa fa-upload"></i> Browse
            </label>
            <span class="fake-input" *ngIf="!selectedCvFile"
              >No file selected</span
            >
            <span class="fake-input" *ngIf="selectedCvFile">{{ cv }}</span>
          </div>

          <div style="margin-top: 35px;" class="form-row form-row-wide">
            <label>Tell Us About Your self: <span class="red">*</span></label>
            <angular-editor
              [config]="editorConfig"
              [(ngModel)]="user.cvtext"
              placeholder="Start Typing..."
              formControlName="tellUsAboutYourSelf"
              [ngClass]="{
                'input-error':
                  (tellUsAboutYourSelf.invalid &&
                    tellUsAboutYourSelf.touched) ||
                  (tellUsAboutYourSelf.invalid && check$)
              }"
            >
            </angular-editor>
            <p
              class="error2"
              *ngIf="
                (tellUsAboutYourSelf.invalid && tellUsAboutYourSelf.touched) ||
                (check$ && tellUsAboutYourSelf.invalid)
              "
            >
              Telling Us About Yourself is required
            </p>
          </div>
        </div>

        <br />
      </form>
    </div>
  </div>

  <div class="single">
    <div class="container">
      <div class="sixteen columns"><h2>Manage Education</h2></div>
    </div>
  </div>

  <div class="container" *ngIf="education && education?.length > 0">
    <!-- Table -->
    <div class="sixteen columns">
      <p class="margin-bottom-25">You can manage your Education here.</p>

      <table class="manage-table resumes responsive-table">
        <tr>
          <th>Institution</th>
          <th>Course</th>
          <th>Years of Study</th>
          <th></th>
        </tr>

        <tr *ngFor="let e of education; let i = index">
          <td class="title">{{ e.institution }}</td>
          <td>{{ e.course }}</td>
          <td>{{ e.fromYear }} - {{ e.toYear }}</td>
          <td class="action">
            <button (click)="editEducation(i)">
              <i class="fa fa-pencil"></i> Edit
            </button>
            <button (click)="deleteEducation(i)" class="delete">
              <i class="fa fa-remove"></i> Delete
            </button>
          </td>
        </tr>
      </table>

      <br />
      <button [routerLink]="['/add-education']" class="button gray">
        <i class="fa fa-plus-circle"></i> Add More Education
      </button>
    </div>
  </div>

  <div class="single">
    <div class="container">
      <div class="sixteen columns"><h2>Manage Skill's</h2></div>
    </div>
  </div>

  <div class="container" *ngIf="skills && skills?.length > 0">
    <!-- Table -->
    <div class="sixteen columns">
      <p class="margin-bottom-25">You can manage your skills here.</p>

      <table class="manage-table resumes responsive-table">
        <tr>
          <th>Skill</th>
          <th>Level</th>
          <th></th>
        </tr>
        <tr *ngFor="let s of skills; let i = index">
          <td class="title">{{ s.skill }}</td>
          <td>{{ s.skillLevel }}</td>
          <td class="action">
            <button (click)="editSkill(i)">
              <i class="fa fa-pencil"></i> Edit
            </button>
            <button (click)="deleteSkill(i)" class="delete">
              <i class="fa fa-remove"></i> Delete
            </button>
          </td>
        </tr>
      </table>

      <br />
      <button [routerLink]="['/add-skill']" class="button gray">
        <i class="fa fa-plus-circle"></i> Add More Skill
      </button>
    </div>
  </div>

  <div class="single">
    <div class="container">
      <div class="sixteen columns"><h2>Manage Work History</h2></div>
    </div>
  </div>

  <div class="container" *ngIf="workHistory && workHistory?.length > 0">
    <!-- Table -->
    <div class="sixteen columns">
      <p class="margin-bottom-25">You can manage your Work History here.</p>

      <table class="manage-table resumes responsive-table">
        <tr>
          <th>Company</th>
          <th>Year</th>
          <th></th>
        </tr>
        <tr *ngFor="let w of workHistory; let i = index">
          <td class="title">{{ w.company }}</td>
          <td>{{ w.fromYear }} - {{ w.toYear }}</td>
          <td class="action">
            <button (click)="editWorkHistory(i)">
              <i class="fa fa-pencil"></i> Edit
            </button>
            <button (click)="deleteWorkHistory(i)" class="delete">
              <i class="fa fa-remove"></i> Delete
            </button>
          </td>
        </tr>
      </table>

      <br />
      <button [routerLink]="['/add-work-history']" class="button gray">
        <i class="fa fa-plus-circle"></i> Add More Work History
      </button>
    </div>
  </div>

  <div class="single">
    <div class="container">
      <div class="sixteen columns"><h2>Manage Referees</h2></div>
    </div>
  </div>

  <div class="container" *ngIf="workHistory && workHistory?.length > 0">
    <!-- Table -->
    <div class="sixteen columns">
      <p class="margin-bottom-25">You can manage your referees here.</p>

      <table class="manage-table resumes responsive-table">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th></th>
        </tr>
        <tr *ngFor="let r of referees; let i = index">
          <td class="title">{{ r.name }}</td>
          <td>{{ r.email }}</td>
          <td class="action">
            <button (click)="editReferees(i)">
              <i class="fa fa-pencil"></i> Edit
            </button>
            <button (click)="deleteReferees(i)" class="delete">
              <i class="fa fa-remove"></i> Delete
            </button>
          </td>
        </tr>
      </table>

      <br />
      <button [routerLink]="['/add-referees']" class="button gray">
        <i class="fa fa-plus-circle"></i> Add More Referees
      </button>
    </div>
  </div>

  <div class="single">
    <div class="container">
      <div class="sixteen columns"><h2>Manage Languages</h2></div>
    </div>
  </div>

  <div class="container" *ngIf="workHistory && workHistory?.length > 0">
    <!-- Table -->
    <div class="sixteen columns">
      <p class="margin-bottom-25">You can manage your languages here.</p>

      <table class="manage-table resumes responsive-table">
        <tr>
          <th>Language</th>
          <th>Proficiency Level</th>
          <th></th>
        </tr>
        <tr *ngFor="let l of language; let i = index">
          <td class="title">{{ l.language }}</td>
          <td>{{ l.proficiencyLevel }}</td>
          <td class="action">
            <button (click)="editLanguage(i)">
              <i class="fa fa-pencil"></i> Edit
            </button>
            <button (click)="deleteLanguage(i)" class="delete">
              <i class="fa fa-remove"></i> Delete
            </button>
          </td>
        </tr>
      </table>

      <br />
      <button [routerLink]="['/add-language']" class="button gray">
        <i class="fa fa-plus-circle"></i> Add More Languages
      </button>
    </div>
  </div>

  <p *ngIf="error2" class="error2">{{ errMessage }}</p>
  <br />
  <p class="error2" *ngIf="cRForm.invalid && check$">
    Form invalid please make sure you fill all fields with *
  </p>
  <button *ngIf="cRForm.invalid" type="button" (click)="check()">
    {{ Finish }}
  </button>
  <button *ngIf="cRForm.valid" type="button" (click)="submit()">
    {{ Finish }}
  </button>
</div>

<div class="divider margin-top-0 padding-reset"></div>

<br /><br /><br />
