<!--
  Titlebar
  ==================================================
-->
<div id="titlebar" class="single">
  <div class="container">
    <div class="sixteen columns">
      <h2>Reset Password</h2>
      <nav id="breadcrumbs">
        <ul>
          <li>You are here:</li>
          <li><a href="#">Home</a></li>
          <li>reset password</li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<!--
  Content
  ==================================================
-->

<!-- Container -->
<div class="container">
  <div class="my-account">
    <div class="">
      <div class="tab-content">
        <h3 class="margin-bottom-10 margin-top-10">Reset Password</h3>

        <form class="login">
          <p class="form-row form-row-wide">
            <label>Email Address:</label>
            <input type="email" class="input-text" name="email" value="" />
          </p>

          <p class="form-row">
            <a type="submit" class="button" value="Submit" href="login.html"
              >Login</a
            >
          </p>

          <p class="lost_password">
            <a href="login.html">Already have an account login?</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
