<!--
      Titlebar
      ==================================================
    -->
<div id="titlebar">
  <div class="container">
    <div class="ten columns">
      <span>We've lot's jobs matching your need:</span>
      <h2>Jobs</h2>
    </div>
  </div>
</div>

<!--
        Content
        ==================================================
      -->

<div class="container">
  <!-- Recent Jobs -->
  <div class="sixteen columns">
    <div class="padding-right">
      <form class="list-search">
        <!-- <button><i class="fa fa-search"></i></button> -->
        <br /><br /><br />
        <input
          type="text"
          placeholder="job title, locations, prices or country"
          [formControl]="search"
        />
        <div class="clearfix"></div>
      </form>
    </div>
  </div>
</div>
<!-- spinner -->
<app-loading-spinner *ngIf="loading"></app-loading-spinner>
<!-- spinner end -->

<app-error *ngIf="error" (reload)="ngOnInit()"></app-error>

<div class="container" *ngIf="!loading && !error">
  <!-- Recent Jobs -->
  <div class="sixteen columns">
    <div class="padding-right">
      <ul class="job-list full" *ngIf="jobs && jobs.length > 0">
        <li
          class="highlighted"
          *ngFor="
            let j of (jobs
              | paginate
                : {
                    id: 'id',
                    itemsPerPage: 10,
                    currentPage: page,
                    totalItems: records
                  })
          "
        >
          <a [routerLink]="['/job', j.id]">
            <img class="icon" src="assets/images/job-list-logo-01.png" alt="" />
            <!-- <i class="icon fa fa-user"></i> -->
            <div class="job-list-content">
              <h4>
                {{ j.title }}
                <span
                  [ngClass]="{
                    'full-time': j.employementType.name === 'Full-time',
                    'part-time': j.employementType.name === 'Part-time',
                    temporary: j.employementType.name === 'Temporary',
                    internship: j.employementType.name === 'Contract',
                    internship: j.employementType.name === 'Other'
                  }"
                >
                  {{ j.employementType.name }}
                </span>
              </h4>
              <div class="job-icons">
                <span
                  ><i class="fa fa-map-marker"></i> {{ j.country.name }}</span
                >
                <span>
                  <i class="fa fa-money"></i> {{ j.currency.code }}
                  {{ j.salaryMin }} - {{ j.currency.code }} {{ j.salaryMax }}
                </span>
              </div>
              <p [froalaView]="j.shortDescription"></p>
            </div>
          </a>
          <div class="clearfix"></div>
        </li>
      </ul>

      <h3
        *ngIf="jobs && jobs.length < 1"
        style="text-align: center; margin-bottom: 30px"
      >
        No Result found!
      </h3>
      <div class="clearfix"></div>

      <div class="pagination-container">
        <pagination-controls
          id="id"
          (pageChange)="currentPage($event)"
          maxSize="9"
          directionLinks="true"
          autoHide="true"
          responsive="true"
          previousLabel="PREV"
          nextLabel="NEXT"
          screenReaderPaginationLabel="Pagination"
          screenReaderPageLabel="page"
          screenReaderCurrentLabel="You're on page"
        >
        </pagination-controls>

        <!-- <nav class="pagination">
          <ul>
            <li *ngFor="let t of total; let i = index">
              <a
                (click)="currentPage(t)"
                [ngClass]="{ 'current-page': page === t }"
                >{{ t }}</a
              >
            </li>
          </ul>
        </nav>

        <nav class="pagination-next-prev">
          <ul>
            <li><a (click)="prevPage()" class="prev">Previous</a></li>
            <li><a (click)="nextPage()" class="next">Next</a></li>
          </ul>
        </nav> -->
      </div>
    </div>
  </div>
</div>
