<app-loading-spinner *ngIf="loading"></app-loading-spinner>

<app-error *ngIf="error" (reload)="ngOnInit()"></app-error>

<form [formGroup]="cRForm" *ngIf="!loading && !error">
  <div class="container">
    <div formGroupName="language">
      <h3 class="margin-bottom-10 margin-top-10">Language</h3>

      <br /><br />

      <div
        class="row"
        *ngFor="let l of languageForms.controls; let i = index"
        [formGroupName]="i"
      >
        <div class="row">
          <div class="form-row form-row-wide six columns">
            <label>Language: <span class="red">*</span></label>
            <input
              type="text"
              class="input-text"
              [(ngModel)]="language.language"
              formControlName="language"
              [ngClass]="{
                'input-error':
                  (l.controls.language.invalid &&
                    l.controls.language.touched) ||
                  (l.controls.language.invalid && check$)
              }"
            />
            <p
              class="error2"
              *ngIf="
                (l.controls.language.invalid && l.controls.language.touched) ||
                (l.controls.language.invalid && check$)
              "
            >
              Language is required
            </p>
          </div>

          <div class="form-row form-row-wide six columns">
            <label>Proficiency Level: <span class="red">*</span></label>
            <select
              formControlName="proficiencyLevel"
              [(ngModel)]="language.proficiencyLevel"
              [ngClass]="{
                'input-error':
                  (l.controls.proficiencyLevel.invalid &&
                    l.controls.proficiencyLevel.touched) ||
                  (l.controls.proficiencyLevel.invalid && check$)
              }"
            >
              <option value="Not Applicable">Not Applicable</option>
              <option value="Novice">Novice</option>
              <option value="Intermediate">Intermediate</option>
              <option value="Advanced">Advanced</option>
            </select>

            <p
              class="error2"
              *ngIf="
                (l.controls.proficiencyLevel.invalid &&
                  l.controls.proficiencyLevel.touched) ||
                (l.controls.proficiencyLevel.invalid && check$)
              "
            >
              Proficiency Level is required
            </p>
          </div>
        </div>

        <br />
        <a
          style="color: #fff; background: red"
          *ngIf="languageForms.controls?.length > 1"
          (click)="deleteLanguage(i)"
          class="button gray"
          ><i class="fa fa-plus-circle"></i>Delete</a
        >
      </div>
    </div>

    <!-- <br />
    <a (click)="addLanguage()" class="button gray"
      ><i class="fa fa-plus-circle"></i> Add More Languages</a
    > -->
  </div>

  <app-error *ngIf="error2" (reload)="submit()"></app-error>

  <div class="container">
    <button type="button" (click)="submit()">{{ Submit }}</button>
  </div>
</form>
<br /><br /><br />
