<!--
  Titlebar
  ==================================================
-->
<div id="titlebar" class="single">
  <div class="container">
    <div class="sixteen columns">
      <h2>Contact</h2>
      <nav id="breadcrumbs">
        <ul>
          <li>You are here:</li>
          <li><a [routerLink]="['/']">Home</a></li>
          <li>Contact</li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<!-- spinner -->
<app-loading-spinner *ngIf="loading"></app-loading-spinner>
<!-- spinner end -->

<div style="text-align: center;" *ngIf="error && !loading">
  <div
    class="error"
    style="position: relative; text-align: center; width: 97%;"
  >
    <p>
      Somthing went wrong please click
      <button (click)="submit()">here</button> to retry
    </p>
  </div>

  <div class="sixteen columns" *ngIf="message">
    <div class="submit-page">
      <!-- Notice -->
      <div class="notification notice closeable margin-bottom-40">
        <p><span>Message Sent! </span> we'll get to you shortly</p>
      </div>
    </div>
  </div>
</div>
<!--
  Content
  ==================================================
-->
<!-- Container -->
<div class="container" *ngIf="!loading">
  <div class="eleven columns">
    <h3 class="margin-bottom-15">Contact Form</h3>

    <!-- Contact Form -->
    <section id="contact" class="padding-right">
      <!-- Success Message -->
      <mark *ngIf="message" id="message">Message Sent!</mark>

      <!-- Form -->
      <form [formGroup]="Form" id="contactform">
        <fieldset>
          <div>
            <label>Name:</label>
            <input
              type="text"
              formControlName="Name"
              [ngClass]="{
                'input-error':
                  (Name.invalid && Name.touched) || (Name.invalid && check$)
              }"
            />

            <p
              class="error2"
              *ngIf="(Name.invalid && Name.touched) || (Name.invalid && check$)"
            >
              Name is required
            </p>
          </div>

          <div>
            <label>Email: <span>*</span></label>
            <input
              type="email"
              formControlName="Email"
              [ngClass]="{
                'input-error':
                  (Email.invalid && Email.touched) || (Email.invalid && check$)
              }"
            />

            <p
              class="error2"
              *ngIf="
                (Email.invalid && Email.touched) || (Email.invalid && check$)
              "
            >
              Email is required
            </p>
          </div>

          <div>
            <label>Subject: <span>*</span></label>
            <input
              type="text"
              formControlName="Subject"
              [ngClass]="{
                'input-error':
                  (Subject.invalid && Subject.touched) ||
                  (Subject.invalid && check$)
              }"
            />

            <p
              class="error2"
              *ngIf="
                (Subject.invalid && Subject.touched) ||
                (Subject.invalid && check$)
              "
            >
              Subject is required
            </p>
          </div>

          <br /><br /><br />

          <div>
            <label>Message: <span>*</span></label>
            <textarea
              cols="40"
              rows="3"
              spellcheck="true"
              formControlName="Message"
              [ngClass]="{
                'input-error':
                  (Message.invalid && Message.touched) ||
                  (Message.invalid && check$)
              }"
            ></textarea>

            <p
              class="error2"
              *ngIf="
                (Message.invalid && Message.touched) ||
                (Message.invalid && check$)
              "
            >
              Message is required
            </p>
          </div>
        </fieldset>
        <div id="result"></div>
        <input
          type="submit"
          class="submit"
          (click)="submit()"
          value="Send Message"
        />
        <div class="clearfix"></div>
        <div class="margin-bottom-40"></div>
      </form>
    </section>
    <!-- Contact Form / End -->
  </div>
  <!-- Container / End -->

  <!--
    Sidebar
    ==================================================
  -->
  <div class="five columns">
    <!-- Information -->
    <h3 class="margin-bottom-10">Information</h3>
    <div class="widget-box">
      <h3>We love to hear from you</h3>

      <ul class="contact-informations">
        <li>
          2nd Floor, Nicon Insurance Plaza, Plot 242, Muhammadu Buhari Way,
          Central Business District,
        </li>
        <li>FCT Abuja.</li>
      </ul>

      <ul class="contact-informations second">
        <li>
          <i class="fa fa-phone"></i>
          <p>+234 818 808 1889</p>
        </li>
        <li>
          <i class="fa fa-envelope"></i>
          <p>hr@menzonlimited.com</p>
        </li>
        <li>
          <i class="fa fa-globe"></i>
          <p>
            <a href="www.menzonlimited.com" target="_blank"
              >www.menzonlimited.com</a
            >
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- Container / End -->
