<!-- home -->
<!--
    Banner
    ==================================================
  -->
<div
  id="banner"
  style="
    background: url('assets/images/banna.jpg');   
    background-repeat: no-repeat;
    background-size: cover"
>
  <div class="container">
    <div class="sixteen columns">
      <div class="search-container">
        <div class="categories-group">
          <div [formGroup]="searchForm" class="container">
            <!-- Form -->
            <h2>Find job</h2>
            <input
              type="text"
              class="six columns inputs fit"
              placeholder="Job title"
              formControlName="title"
              [ngClass]="{ 'input-error': title.invalid && title.touched }"
            />

            <div class="error" *ngIf="title.invalid && title.touched">
              Job title is required
            </div>

            <select
              formControlName="state"
              class="three columns inputs"
              [ngClass]="{ 'input-error': state.invalid && state.touched }"
            >
              <option value="">States</option>
              <option *ngFor="let s of states" [value]="s.id">
                {{ s.stateName }}
              </option>
            </select>

            <div class="error" *ngIf="state.invalid && state.touched">
              State is required
            </div>

            <select
              formControlName="experience"
              class="three columns inputs"
              [ngClass]="{
                'input-error': experience.invalid && experience.touched
              }"
            >
              <option value="">Experience</option>
              <option *ngFor="let e of exp" [value]="e.id">{{ e.name }}</option>
            </select>

            <div class="error" *ngIf="experience.invalid && experience.touched">
              Experience is required
            </div>

            <button
              [disabled]="searchForm.invalid"
              (click)="submit()"
              class="two columns fit"
              style="margin: 10px; height: 61px !important;"
            >
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>

        <div class="error" *ngIf="error2">Please Fill the form above.</div>

        <!-- Browse Jobs -->
        <div class="browse-jobs">
          Browse job offers by <a [routerLink]="['/categories']"> category</a>
        </div>

        <!-- Announce -->
        <div class="announce">
          We’ve <strong>Great</strong> job offers for you!
        </div>
      </div>
    </div>
  </div>
</div>

<!-- spinner -->
<app-loading-spinner *ngIf="loading"></app-loading-spinner>
<!-- spinner end -->

<app-error *ngIf="error" (reload)="ngOnInit()"></app-error>

<div *ngIf="!loading && !error">
  <!--
    Content
    ==================================================
  -->
  <div id="categories">
    <!-- Categories Group -->
    <div class="categories-group">
      <div class="container">
        <h2>Categories</h2>
        <div class="three columns" *ngFor="let c of categories">
          <ul>
            <li>
              <a (click)="searchCategory(c.id)">{{ c.name }}</a>
            </li>
          </ul>
        </div>
      </div>
      <br /><br />
      <div class="container">
        <a [routerLink]="['/categories']" class="button gray"
          ><i class="fa fa-eye"></i>View More</a
        >
      </div>
    </div>
  </div>

  <div class="divider-line"></div>
  <div class="margin-top-50"></div>

  <!-- Recent Works -->
  <div class="container">
    <!-- Recent Jobs -->
    <div class="eleven columns">
      <div class="padding-right">
        <h3 class="margin-bottom-25">Recent Jobs</h3>
        <ul class="job-list">
          <li class="highlighted" *ngFor="let j of jobs">
            <a [routerLink]="['/job', j.id]">
              <img
                class="icon"
                src="assets/images/job-list-logo-01.png"
                alt=""
              />
              <!-- <i class="icon fa fa-user"></i> -->
              <div class="job-list-content">
                <h4>
                  {{ j.title }}
                  <span
                    [ngClass]="{
                      'full-time': j.employementType.name === 'Full-time',
                      'part-time': j.employementType.name === 'Part-time',
                      temporary: j.employementType.name === 'Temporary',
                      internship: j.employementType.name === 'Contract',
                      internship: j.employementType.name === 'Other'
                    }"
                  >
                    {{ j.employementType.name }}
                  </span>
                </h4>
                <div class="job-icons">
                  <span
                    ><i class="fa fa-map-marker"></i> {{ j.country.name }}</span
                  >
                  <span>
                    <i class="fa fa-money"></i> {{ j.currency.code }}
                    {{ j.salaryMin }} - {{ j.currency.code }} {{ j.salaryMax }}
                  </span>
                </div>
                <p [froalaView]="j.shortDescription"></p>
              </div>
            </a>
            <div class="clearfix"></div>
          </li>
        </ul>

        <a routerLink="/jobs" class="button centered"
          ><i class="fa fa-plus-circle"></i> Show More Jobs</a
        >
        <div class="margin-bottom-55"></div>
      </div>
    </div>

    <!-- Job Spotlight -->
    <div class="five columns">
      <h3 class="margin-bottom-5">Job Spotlight</h3>
      <div id="job-spotlight" class="showbiz-container">
        <app-job-sportlite [jobSportlite]="jobSportlite"></app-job-sportlite>
      </div>
    </div>
  </div>

  <!-- Infobox -->
  <div class="infobox margin-reset">
    <div class="container">
      <div class="sixteen columns">
        Land your dream job now <a routerLink="/register">Get Started</a>
      </div>
    </div>
  </div>

  <!-- Recent Posts -->
  <div class="container">
    <div class="sixteen columns">
      <br /><br />
      <h2 class="margin-bottom-25">Recent Posts</h2>
      <br />
    </div>

    <div class="one-third column" *ngFor="let p of posts">
      <!-- Post #1 -->
      <div class="recent-post">
        <!-- <div class="recent-post-img">
            <a [routerLink]="['/blog/', 1]"
              ><img src="assets/images/recent-post-01.webp" alt=""
            /></a>
            <div class="hover-icon"></div>
          </div> -->
        <a [routerLink]="['/blog/', p.id]"
          ><h4>{{ p.title }}</h4></a
        >
        <div class="meta-tags">
          <span>{{ p.dateAdded | amDateFormat: "LL" }}</span>
        </div>
        <p>{{ p.introduction.substring(0, 150) + "..." }}</p>
        <a [routerLink]="['/blog/', p.id]" class="button">Read More</a>
      </div>
    </div>
  </div>

  <!-- Clients Carousel -->
  <h3 class="centered-headline">
    Clients Who Have Trusted Us
    <span>The list of clients who have put their trust in us includes:</span>
  </h3>
  <div class="clearfix"></div>

  <div class="container">
    <div class="sixteen columns">
      <app-clients [clients]="clients"></app-clients>
    </div>
  </div>
  <!-- Container / End -->
</div>
<!-- home end -->
