select {
    height: 50px !important;
    width: 100% !important;
}

button {
    margin: 10px !important;
}

.fit {
    height: 50px !important;
    border-radius: 5px !important;
}

.input-error {
    border: 2px solid red !important;
    color: red !important;
}

.error {
    margin: 80px 10px;
    border-radius: 5px;
    padding: 10px;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    position: absolute;
    width: 50%;
}

.error2 {
    margin: 20px;
    color: red
}