.item {
  box-sizing: border-box;
}

.tile {
  background-size: cover !important;
  align-items: center;
  justify-content: center;
}

/* .ngucarousel .ngucarousel-items {
    padding: 0 80px !important;
} */

.leftRs {
  background: transparent !important;
  color: #659f5c;
  margin-top: -5px !important;
}

.rightRs {
  background: transparent !important;
  color: #659f5c;
  margin-top: -5px !important;
}
